@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Daria Incorporated Yarn, DIY!</h1>

<br />

<img src="images/Logo.jpg" alt="DIY Logo" style="width:300px;height:auto;">

<br />
<br />

<p>Welcome to Daria Incorporated Yarn, your ultimate hub for crochet creativity and custom-made masterpieces. Whether you're searching for fresh inspiration 
	to fuel your next project or longing for a one-of-a-kind design tailored just for you, our website has you covered. Dive into a world where artistry meets craftsmanship, and let your imagination 
	weave magic into every stitch. From pattern ideas to personalized creations, Daria Incorporated Yarn turns your vision into reality—one thread at a time! 🧶✨
 🚀</p>

