@*Name: Daria Green*@
@*Email: Dgreen50@cnm.edu*@
@*Program: DariaIncorporatedYarn*@

@page "/crochetProjects"

<h3>Crochet Projects (Examples)</h3>

<br />
<div>
    <h2>Granny Square Totebag</h2>
    <img src="images/yarnProject1.png" alt="yarn Project 1" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
        This is my two toned Granny square totebag. You get to choose two colors of 100% Acrylic yarn for the body of the bag. 
        This bag is also lined with a silk lining to keep your valuables safe and secure! 
        If you are in need of a new summer bag, head to my custom orders page today!
    </p>
</div>

<br />
<div>
    <h2>Summer Beach Bag</h2>
    <img src="images/yarnProject2.png" alt="yarn Project 2" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
        This is the perfect beachbag for the summer! This bag is made out of 100% cotton and uses a mix of an hombre blue and white yarn to create the
		perfect beachy vibe! If you are interested in this bag, please reach out for a custom order!
    </p>
</div>

<br />
<div>
    <h2>Triceratops & Pocket Pillow Set</h2>
    <img src="images/yarnProject3.png" alt="yarn Project 3" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
		This project maybe my favorite one I've made so far! This Tricertops plush animal is perfect for a kiddo that's into Dinasaurs, 
        and the pocket pillow is perfect for storing all of your little ones toys!
        If you are interested in this cute set, please reach out for a custom order!
    </p>
</div>

<br />
<div>
    <h2>Striped Winter Scarf</h2>
    <img src="images/yarnProject4.png" alt="yarn Project 4" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
		This is a striped winter scarf made out of 100% acrylic yarn. This scarf is perfect for the winter months and is a great gift for anyone in your life!
		If you are looking for a simple but stylish gift for a loved one, order this scarf today!
	</p>
</div>

<br />
<div>
    <h2>Granny Square Blanket</h2>
    <img src="images/yarnProject5.png" alt="yarn Project 5" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
       This is my granny square blanket, perfect for a house warming gift or just a new piece to brighten up your space.  
       Please feel free to let me know if you are looking for it to be a certain size or if you would like certain colors!
       The world is your oyster! If you are interested in this blanket, please reach out for a custom order today!
    </p>
</div>

<br />
<div>
    <h2>Triceratops Lovey</h2>
    <img src="images/yarnProject6.png" alt="yarn Project 6" style="width:300px;height:auto;">
    <br />
    <br />
    <p>
        Are you in need of a baby gift? Well this adorable Triceratops lovey would be perfect! If you are looking for a different animal for the plushy part, 
        don't hesitate to ask! I'm always  willing to make new things, I love a good challenge! Reach out about this lovey under my custom orders page today!
    </p>
</div>
@code {

}
